- name: Make sure epel-release is enabled
  yum:
    name: epel-release
    state: present

- name: Install nginx
  yum:
    name: nginx
    state: present

- name: Copy default nginx config
  copy:
    src: nginx.conf
    dest: "{{ nginx_default_config }}"

- name: Copy site config
  template:
    src: site.conf.j2
    dest: "{{ nginx_site_config }}"

- name: Copy ssl config
  template:
    src: ssl.conf.j2
    dest: "{{ nginx_ssl_config }}"

- name: Generate openssl private key
  openssl_privatekey:
    path: "{{ nginx_key_directory }}/{{ private_key }}"
    type: "{{ private_key_type }}"
    size: "{{ private_key_size }}"

- name: Generate openssl csr
  openssl_csr:
    path: "{{ nginx_key_directory }}/{{ csr }}"
    privatekey_path: "{{ nginx_key_directory }}/{{ private_key }}"
    common_name: "{{ domain_name | default(ansible_nodename) }}"
    subject_alt_name: "DNS:{{ domain_name | default(ansible_nodename) }}"

- name: Generate self signed certificate
  openssl_certificate:
    path: "{{ nginx_cert_directory }}/{{ certificate }}"
    privatekey_path: "{{ nginx_key_directory }}/{{ private_key }}"
    csr: "{{ nginx_key_directory }}/{{ csr }}"
  notify:
    - start nginx